<?php

/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

$baseUrl = 'https://queue.dotkernel.net';

$databases = [
    /**
     * You can add more database connections to this array.
     * Only one active connection is allowed at a time.
     * By default, the application uses the 'mariadb' connection.
     * You can switch to another connection by activating it under doctrine->connection->orm_default-->params.
     */
    'mariadb'    => [
        'host'         => 'localhost',
        'dbname'       => 'dotkernel',
        'user'         => '',
        'password'     => '',
        'port'         => 3306,
        'driver'       => 'pdo_mysql',
        'collation'    => 'utf8mb4_general_ci',
        'table_prefix' => '',
    ],
    'postgresql' => [
        'host'         => 'localhost',
        'dbname'       => 'dotkernel',
        'user'         => '',
        'password'     => '',
        'port'         => 5432,
        'driver'       => 'pdo_pgsql',
        'collation'    => 'utf8mb4_general_ci',
        'table_prefix' => '',
    ],
];

return [
    'application'  => [
        'name' => 'Dotkernel Queue',
        'url'  => $baseUrl,
    ],
    'databases'    => $databases,
    'doctrine'     => [
        'connection' => [
            'orm_default' => [
                'params' => $databases['mariadb'],
//                'params' => $databases['postgresql'],
            ],
        ],
    ],
    'notification' => [
        'server' => [
            'protocol' => 'tcp',
            'host'     => 'localhost',
            'port'     => '8556',
            'eof'      => PHP_EOL,
        ],
    ],
    //delay time until the message is added back to the queue if an error occurs during processing
    'fail-safe' => [
        'first_retry'  => 3600000, // 1h
        'second_retry' => 43200000, // 12h
        'third_retry'  => 86400000, // 24h
    ],
];
