<?php

/**
 * Local configuration.
 *
 * Copy this file to `local.php` and change its settings as required.
 * `local.php` is ignored by git and safe to use for local and sensitive data like usernames and passwords.
 */

declare(strict_types=1);

$baseUrl = 'http://queue.dotkernel.net';

$databases = [
    'default' => [
        'host'     => '',
        'dbname'   => '',
        'user'     => '',
        'password' => '',
        'port'     => 3306,
        'driver'   => 'pdo_mysql',
        'charset'  => 'utf8mb4',
        'collate'  => 'utf8mb4_general_ci',
    ],
    // you can add more database connections into this array
];

return [
    'application'  => [
        'name' => $app['name'] ?? '',
        'url'  => $baseUrl,
    ],
    'databases'    => $databases,
    'doctrine'     => [
        'connection' => [
            'orm_default' => [
                'params' => $databases['default'],
            ],
        ],
    ],
    'notification' => [
        'server' => [
            'protocol' => 'tcp',
            'host'     => 'localhost',
            'port'     => '8556',
            'eof'      => "\n",
        ],
    ],
    //delay time until the message is added back to the queue if an error occurs during processing
    'fail-safe' => [
            'first_retry'  => 3600000,  // 1h
            'second_retry' => 43200000, // 12h
            'third_retry'  => 86400000, // 24h
        ],
];
